.App {
  text-align: center;
  padding: 0;
}
.App *{
  box-sizing: border-box;

}
.App-header{
  margin-bottom: 20px;
  background-color: rgba(236, 239, 242);
  padding: 20px 0 20px 0 ;
  position: top;
  
  width: 100%;
  z-index: 1000;
}
.App-body{
  padding: 20px;
}

ul {
  list-style: none;
  text-align: center;
  margin: 0;
}

#city-search {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;


}
.city, 
.number-input {
  width: 250px;
  padding: 8px 6px 8px 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 35px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 50px;
  height: 35px;
  align-self: center;
  margin: 0;
  font-size: 14px;
  padding: 0;
  z-index: 2;
  

}
.suggestions > li {
  width: 250px;
  text-align: left;
  padding: 10px 6px 10px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.suggestions > li:hover {
  background-color: rgb(111, 207, 173);
}

.event{
 border-radius: 5px;
 background-color: rgba(236, 239, 242, 0.79);
 margin: 10px;
 padding: 20px;
 position: relative;
 
}
.event-general{
  padding-bottom: 18px;
}
#event-list{
  list-style: none;
  margin: 0;
  padding: 10px 10px 35px;
  border-radius: 10px;
  text-align: left;
  border-color: black;
  height: auto;

}
#event-details{
  padding: 0 5px 25px 0px ;
  margin-top: 0;
}
p {
  text-justify: auto;
}
.number-input {
  width: 100px;
  margin-top: 10px;
}
button {
  text-align: right;
  cursor: pointer;
  position: absolute;
  display: inline-block;
  right: 20px;
  padding: 10px 6px 8px 10px;
  font-size: 15px;
  bottom: 10px;
  background-color: rgb(111, 207, 173);
  border-radius: 5px;
  outline: none;
  border: 1px solid #cbc5c5;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: black;
}
.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 250px;
  z-index: 1000;
}
.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
  border: 1px solid rgb(234, 226, 226);
  border-radius: 10px;
}
.charts-container div{
  margin: 15px 0 15px 0; 
}

.logo {
  width: 220px;
  height: auto;
}
.App-footer{
  
    
    background-color: rgb(36, 32, 32);
    position: bottom;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding:10px ;
    font-size: 12px;
    
  
}

@media (max-width: 768px) {
  .charts-container{
    grid-template-columns: 1fr;
  }

}  





